@tailwind base;
@tailwind components;
@tailwind utilities;

// scroll
@mixin scroll() {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    height: 2px;
    overflow: overlay;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: overlay;
  }
}

@mixin scrollHidden() {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
    height: 1px;
    overflow: overlay;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    overflow: overlay;
  }
}

body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.container__cus {
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
}

// scroll
.scroll {
  @include scroll();
}

.scrollHidden {
  @include scrollHidden();
}

input[type="checkbox"]:checked {
  background-color: #f8796c;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: white;
  height: 20px;
  width: 20px;
  border: 1px solid #e5e5e5;
  color: white;
}

input[type="checkbox"]:after {
  content: " ";
  position: relative;
  left: 32%;
  top: 20%;
  width: 38%;
  height: 38%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(44deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.swiper-button-disabled {
  opacity: 0.7;
  pointer-events: none;
}

// banner
#banner {
  &:hover {
    .swiper-button-prev {
      opacity: 0.6;
      left: 30px;
    }

    .swiper-button-next {
      opacity: 0.6;
      right: 30px;
    }
  }

  .swiper-slide {
    display: flex;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    &.swiper-pagination-bullet-active {
      background-color: #1e1e1e;
    }
  }

  .swiper-button-prev {
    left: 20px;
  }

  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    color: white;
    opacity: 0;
    transition: all linear 0.2s;

    &:hover {
      opacity: 1;
    }
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 50%;
    background-color: #1e1e1e;
  }

  .swiper-slide.swiper-slide-active {
    .banner__subtitle,
    .banner__title,
    .banner__btn {
      animation: showText 0.26s linear forwards;
    }
    .banner__subtitle {
      animation-delay: 400ms;
    }

    .banner__title {
      animation-delay: 600ms;
    }

    .banner__btn {
      animation-delay: 800ms;
    }

    @keyframes showText {
      from {
        transform: translateX(100px);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .banner__subtitle,
  .banner__title,
  .banner__btn {
    transform: translateX(100px);
    opacity: 0;
  }
}

// Client Feedback
.client__feedback {
  .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }
}

// product
.product__tags {
  @include scrollHidden;
}

// pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;

  .rc-pagination-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-size: medium;
    background-color: white;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
      background-color: #f8796c;
      color: white;
    }
  }

  .rc-pagination-item-active a {
    background-color: #f8796c;
    color: white;
    cursor: not-allowed;
  }
}

.bg_login {
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
